!!!
%html{lang: "en"}
  %head
    %link{href: "/css/normalize.css", rel: "stylesheet"}
    %link{href: "/css/application.css", rel: "stylesheet"}
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{src: "/js/application.js"}
    %title "Train Schedule"
  %body
    = yield